<header class="site-header">
  <div class="header-container">
    <div class="row">
      <!-- <div class="col-4 text-center">
        
      </div> -->
      <div class="col-12 text-center">
          <img class="site-logo" src="../../assets/img/wolfbyte-logo-4.png" (click)="goHome()" />
        <h1 class="site-title">Wolfbyte</h1>
      </div>
      <div class="col-4 offset-4">
        <app-search></app-search>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-2">
      <nav class="site-nav">
        <div class="row">
          <div class="col-sm-10 text-center">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['deckbuilder']">deckbuilder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['blog']">articles & guides</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-2">
            <ul class="nav">
              <li class="nav-item" *ngIf="!user;else loggedIn">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['login']">login / register</a>
              </li>
              <ng-template #loggedIn>

                <div class="dropdown">
                  <li class="nav-item">
                    <a class="nav-link" href="#">{{user.username}} <i class="fa fa-angle-double-down"></i></a>
                  </li>
                  <div class="dropdown-content">
                    <a href="#" (click)="goToProfile()">profile</a>
                    <a href="#" (click)="goToDecks()">my decks</a>
                    <a href="#" (click)="logout()">logout</a>
                  </div>
                </div>
              </ng-template>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
