 <nav class="site-nav">
    <ul class="nav">
      <li class="nav-item">
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['home']">home</a>-->
        <a class="nav-link" href="/home">home</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['search']">search</a>-->
        <a class="nav-link" href="/search">search</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['decks']">decks</a>-->
        <a class="nav-link" href="/decks">decks</a>
      </li>
      <li class="nav-item" *ngIf="!user;else loggedIn">
        <a class="nav-link" href="/login">login</a>
      </li>
      <ng-template #loggedIn>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">{{user.username}}: logout</a>
        </li>
      </ng-template>
    </ul>
  </nav>

<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="site-logo" src="../assets/img/wolfbyte-logo-4.png" />
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

