 <nav class="site-nav">
    <ul class="nav">
      <li class="nav-item">
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['home']">home</a>-->
        <a class="nav-link" href="/home">home</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['search']">search</a>-->
        <a class="nav-link" href="/search">search</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['decks']">decks</a>-->
        <a class="nav-link" href="/decks">decks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li *ngIf="user" class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
  </nav>

<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="site-logo" src="../assets/img/wolfbyte-logo2.png" />
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

