@font-face {
  font-family: Blox;
  src: url("assets/fonts/Blox2.ttf");
}

.main_app {
  max-width: 80%;
  margin: auto;
  min-height: 720px;
  height: 100%;
  padding-bottom: 25px;
}

body {
  background-image: url("./assets/img/spiration dark.png");
  color: white;
  font-size: 13px;
  font-family: Avenir;
}

body h2 {
  color: white;
}

option, ul {
  color: black;
  font-size: 12px;
}

#main_search {
  font-size: 12px;
  margin-top: 50px;
}

#quick_search {
  font-size: 12px;
  margin: auto;
}

.card {
  color: white;
}

.card ul {
  color: white;
}

.site-logo {
  max-width: 130px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.site-title {

}

.site-header {
  margin-bottom: 20px;
}

.site-footer {
  height: 25px;
  width: 100%;
  background-color: black;
  color: lightgray;
  font-size: 11px;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  padding: 5px;
}

.header-container {
  max-width: 80%;
  min-width: 70%;
  margin: auto;
}

.header-container h1 {
  font-family: Blox;
  font-size: 80px;
  margin-top: 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(blueviolet), to(deepskyblue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-nav {
  width: 100%;
  background-color: transparent;
  color: white;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}

.site-nav a {
  color: white;
}

.site-nav a:hover {
  background-color: blueviolet;
  color: white;
}

.nav-link {

}

.nav-link-selected {
  background-color: blueviolet;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  min-width: 81px;
  background-color: transparent;
  border-right: 1px solid blueviolet;
  border-left: 1px solid blueviolet;
  border-bottom: 1px solid blueviolet;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

.btn-success {
  background-color: transparent;
  border: 1px solid blueviolet;
  font-weight: lighter;
}

.btn-success:hover {
  background-color: blueviolet;
  border: 1px solid blueviolet;
}

.btn-primary {
  border:none;
  font-weight: lighter;
}

.btn-primary:hover {
  background-color: black;
}

.btn-bmd {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success-bmd {
  color: #fff;
  background-color: #5cb85c;
  border-color: black;
  pointer: cursor;
}

.portrait-clip {
  clip-path: circle(30px at 50% 50%);
}

a {
  color: dodgerblue;
}

table {
  font-size: 12px;
  color: white;
}

table td {
  background-image: url("./assets/img/spiration dark.png");
}

.dataTables_wrapper td {
  background-image: url("./assets/img/spiration dark.png");
}

.dataTables_wrapper label {
  color: white;
}

.dataTables_wrapper .dataTables_info {
  color: white;
}

.dataTables_wrapper select {
  background-color: transparent;
  color: white;
}

.dataTables_wrapper .dataTables_filter {
  font-family: inherit;
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  background-color: transparent;
  color: white;
  margin-left: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select {

}

label {
  font-weight: normal;
}

.hover_img a {
  position: relative;
}

.hover_img a span {
  position: absolute;
  display: none;
  z-index: 99;
}

.hover_img a:hover span {
  display: block;
}

.invisible-text {
  visibility: hidden;
}

.modal-header {
  background-color: black;
  border: 1px solid purple;
}

.modal-body {
  background-color: black;
  border: 1px solid purple;
}

.close {
  color: white;
}

.card {
  max-width: 80%;
  height: auto;
  border: 1px solid blueviolet;
  border-radius: 10px;
  background-color: black;
  margin: auto;
  padding: 10px;
}

.card ul {
  color: black;
}

.deck_image {
  max-height: 200px;
  max-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.deck_image_commander {
  max-height: 200px;
  max-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.deck_image_commander:hover {
  max-height: 200px;
  max-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  opacity: .75;
}

#wrapper .text {
  visibility: hidden;
  bottom: 100px;
  position: relative;
  margin-bottom: -30px;
}

#wrapper:hover .text {
  visibility: visible;
  cursor: pointer;
}


.deck_title_banner {
  max-width: 80%;
  border-radius: 10px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border: solid 1px blueviolet;
}

.deck_title_banner button {
  margin: 5px;
}

.deck_title_banner .btn-danger {

}

.deck_title_banner .form-control {
  background-color: black;
  color: white;
  margin: 5px;
}

.deckbuilder {
  width: 100%;
}

.deckbuilder_header {
  margin-bottom: 25px;
}

.deckbuilder_header button {
  margin: 20px;
}

.deckbuilder_title {
  text-align: center;
  font-size: 40px;
}

.deckbuilder h6 {
  font-weight: lighter;
}

.deckviewer {
  text-align: center;
  position:relative;
  display: inline-block;
  padding:10px;
  margin-bottom: 5px;
}

.deckviewer .item {
  cursor: pointer;
  margin: 1px;
}

.deckviewer .item:hover {
  border-bottom: 2px solid deepskyblue;
}

.deckviewer .item-selected {
  background-color: transparent;
  border: 1px solid blueviolet;
  border-radius: 4px;
  padding: 5px;
}

.remove-card {
  color: red;
  padding-right: 5px;
  cursor: pointer;
  margin-left: -40px;
}

.add-card {
  color: red;
  cursor: pointer;
}








