/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("./assets/img/spiration dark.png");
  color: white;
  font-size: 13px;
}

body h2 {
  color: white;
}

option, ul {
  color: black;
}

.site-logo {
  max-width: 160px;
  height: auto;
  position: absolute;
}

.site-header {
  margin-bottom: 20px;
}

.site-nav {
  background-color: black;
  color: white;
}


.btn-success {
  background-color: blueviolet;
  border-color: black;
}

.btn-success:hover {
  background-color: black;
  border-color: black;
}

.btn-bmd {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success-bmd {
  color: #fff;
  background-color: #5cb85c;
  border-color: black;
  pointer: cursor;
}

.portrait-clip {
  clip-path: circle(30px at 50% 50%);
}

a {
  color: dodgerblue;
}

table {
  font-size: 12px;
  color: white;
}

table td {
  background-image: url("./assets/img/spiration dark.png");
}

.dataTables_wrapper td {
  background-image: url("./assets/img/spiration dark.png");
}

.dataTables_wrapper label {
  color: white;
}

.dataTables_wrapper .dataTables_info {
  color: white;
}

.dataTables_wrapper select {
  background-color: transparent;
  color: white;
}

.dataTables_wrapper .dataTables_filter {
  font-family: inherit;
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  background-color: transparent;
  color: white;
  margin-left: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select {

}

label {
  font-weight: normal;
}

.hover_img a {
  position: relative;
}

.hover_img a span {
  position: absolute;
  display: none;
  z-index: 99;
}

.hover_img a:hover span {
  display: block;
}

.invisible-text {
  visibility: hidden;
}

.modal-header {
  background-color: black;
  border: 1px solid purple;
}

.modal-body {
  background-color: black;
  border: 1px solid purple;
}

.close {
  color: white;
}





